<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--<bean id="robot" class="com.papillon.dc.Robot">
        <property name="id" value="#{random.getText()?.length()}"></property>
        <property name="speech" value="#{random.getText()}"></property>
    </bean>

    <bean id="random" class="com.papillon.dc.RandomText">
    </bean>-->

    <context:annotation-config></context:annotation-config>
    <!--suppress SpringModelInspection -->
    <context:component-scan base-package="com.papillon.dc"></context:component-scan>
    <context:property-placeholder location="sdbc.properties" ></context:property-placeholder>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <qualifier value="data_source"></qualifier>
        <property name="driverClassName" value="${sdbc.driver}"></property>
        <property name="url" value="${sdbc.url}"></property>
        <property name="username" value="${sdbc.user}"></property>
        <property name="password" value="${sdbc.password}"></property>

    </bean>



</beans>